<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="">
             <img src="img/neperlogo.png" alt="Logo" style="height: 100px; width: 100px;">
            </div>
                <h1 class="Login">Login</h1>
                  <form id="loginForm" action="/login" method="POST">
                    <div>
                      <label>Username</label><br>
                      <input class="form-control py-4" id="username" name="username" type="text" placeholder="Masukkan Username"/>
                    </div>
                    <div>
                      <label type="password">Password</label><br>
                      <input class="form-control py-4" id="password" name="password" type="password" placeholder="Masukkan Password"/>
                    </div>
                    <div class="button">
                      <button class="btn-hover color-9"type="submit" name="login">Log in</a></button>
                    </div>  
                  </form>
        </main>
    </div>
</div>